<!Doctype HTML>
<html>
	
<head>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

	<script src="ttt.js"></script>

	<link rel="stylesheet" href="ttt.css"/>

<title>	Tic Tac Toe </title>
</head>
<div x-ng-class="title">
<h1>Tic Tac Toe</h1>
</div>

<body x-ng-app="" x-ng-controller="Ticktackctrl">
	
	<div class="container">
		<div x-ng-class="{cells: true, xMove: b == 'X', oMove: b == 'O'}" x-ng-repeat="b in board track by $index" x-ng-click="clicker($index)">{{ b }}</div>
		<button type="reset" value="New Board" x-ng-click="resetboard($index)">Reset the Game</button>
		</div>
		
</body>

</html>
