body {
	background-size: 80px 60px;
	background-repeat: no-repeat;
}


h1 {
	background-color: green;
	text-align: center;

}


div {
	background-color: blue;
	text-align: center;
	height: auto;
	width: 100%;
	font: 30px bold;
}


#rock{
	display: inline-block;
	height: 300px;
	width: 300px;
	text-align: center;
	margin: 10px;
	background-image: url('http://i.imgur.com/YmYv4Xq.png');
	background-size: 250px;
	background-repeat: no-repeat;
}


.title {
text-align: center;
width: 100%;

}


#rock.feature:hover{
background-size: 150px;

}

#paper{
	display: inline-block;
	height: 300px;
	width: 300px;
	text-align: center;
	margin: 10px;
	background-image: url('http://i.imgur.com/tNUCA96.png');
	background-size: 250px;
	background-repeat: no-repeat;
}

#scissors{
	display: inline-block;
	height: 300px;
	width: 300px;
	text-align: center;
	margin: 10px;
	background-image: url('http://i.imgur.com/27bbW7Z.png');
	background-size: 250px;
	background-repeat: no-repeat;
}

ul
{
list-style-type: none;

}

li{
	display: inline-block;

}

 .hovicon.effect-1.sub-a:hover {
    background: rgba(255, 255, 255, 1);
    color: #41ab6b;
}



